<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target  xsi:type="File" name="FileDebug" fileName="${basedir}/logDebug.txt" />
      <target xsi:type="File" name="FileTrace" fileName="${basedir}/logTrace.txt" />
    </targets>

    <rules>
      <logger name="trace" level="Trace" writeTo="FileTrace"/>
        <logger name="debug" minlevel="Debug" writeTo="FileDebug" />
    </rules>
</nlog>
